Legwork.Work["chrysler-horb"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "chrysler-horb",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Hands On Ron Burgundy",
	"summary": "An online competition for Dodge with Wieden + Kennedy.",
	"thumbnail": "<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-thumb.jpg' %>",
	"related": "paranorman",
	"related_name": "Related: Paranorman",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Hands on Ron Burgundy",
			"summary": "An online competition for Dodge with Wieden + Kennedy.",
			"services": [
				"User Experience",
				"Art Direction",
				"Interface Design",
				"Development",
				"Animation"
			],
			"overview": [
				"An opportunity to win an old wooden ship.  The user who fondles Ron's junk the most over the course of week wins.  Some users sat down for a three day long intimate experience with San Diego's most famous news man."
			],
			"background": {
				"type": "video",
				"id": "chrysler-horb",
				"src": "<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-ts-poster.jpg' %>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/mhcd/mhcd-panning.jpg' %>",
			"sidebar": {
				"title": "The Breakdown",
				"text": "<ol><li>For almost the whole piece we used 3D Sketch and Toon renders as the base. After Effects would select random frames from the base renders to give it that jittery look.</li><li>For almost the whole piece we used 3D Sketch and Toon renders as the base. After Effects would select random frames from the base renders to give it that jittery look.</li><li>For almost the whole piece we used 3D Sketch and Toon renders as the base. After Effects would select random frames from the base renders to give it that jittery look.</li><li>For almost the whole piece we used 3D Sketch and Toon renders as the base. After Effects would select random frames from the base renders to give it that jittery look.</li></ol>"
			}
		},
		{
			"type": "Video",
			"background_color": "#222",
			"id": "80931999"
		},
		{
			"type": "FullScreenIframe",
			"url": "http://test.legworkstudio.com/burgandy-games/"
		},

	]
}