Legwork.Work["chrysler-horb"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "chrysler-horb",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Hands On Ron Burgundy",
	"summary": "An online competition for Dodge with Wieden + Kennedy.",
	"thumbnail": "<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-thumb.jpg' %>",
	"related": "paranorman",
	"related_name": "Related: Paranorman",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Hands on Ron Burgundy",
			"summary": "An online competition for Dodge with Wieden + Kennedy.",
			"services": [
				"User Experience",
				"Art Direction",
				"Interface Design",
				"Development",
				"Animation"
			],
			"overview": [
				"An opportunity to win an old wooden ship.  The user who fondles Ron's junk the most over the course of week wins.  Some users sat down for a three day long intimate experience with San Diego's most famous news man."
			],
			"background": {
				"type": "video",
				"id": "chrysler-horb",
				"src": "<%= asset_path 'desktop/work/chrysler-horb/chrysler-horb-ts-poster.jpg' %>"
			}
		},
		{
			"type": "Video",
			"background_color": "#222",
			"id": "80931999"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/chrysler-horb/design.gif' %>",
			"sidebar": {
				"title": "Design",
				"text": "<p>The contest experience was a unique challenge that unlike anything we had done before.  It required a lot of upfront work to nail down how the experience would flow.  We accomplished this through a series of interactive wireframes. Check them out <a href=\"http://test.legworkstudio.com/hohb-wires/\">here</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/chrysler-horb/server.gif' %>",
			"sidebar": {
				"title": "Architecture",
				"text": "<p>This experience was divided between two separate applications on two separate AWS EC2 instances. One controlled the front end experience, while the other handled all of the contest management. Both had their own security measures built into them and they could communicate with one another through a common API.</p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/chrysler-horb/security.gif' %>",
			"sidebar": {
				"title": "Security Measures",
				"text": "<p>With an SUV on the line amongst other high value prizes, we had to take every measure to ensure that players could not cheat.  We spent weeks poking holes in our system and implementing security measures to to keep this contest fair.</p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/chrysler-horb/engagement.gif' %>",
			"sidebar": {
				"title": "User Engagement",
				"text": "<p>All said in done we saw an astonishing engagement rate.  The winning score required a 72+ hour streak!</p>"
			}
		},
		{
			"type": "FullScreenIframe",
			"url": "http://test.legworkstudio.com/burgandy-games/"
		},

	]
}