Legwork.Work["climate-reality"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/climate-reality/climate-reality-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/climate-reality/climate-reality-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "climate-reality",
				"size": [960, 540]
			}
		],
		"sequences": []
	},

	// project metadata
	"title": "Take The Pledge",
	"summary": "A manifesto for the Climate Reality Project.",
	"thumbnail": "<%= asset_path 'desktop/work/climate-reality/climate-reality-thumb.jpg' %>",
	"related": "new-york-times-obama-vs-boehner",
	"related_name": "Related: Debt Deal",

	// slides
	"slides": [
		
		// title screen
		{
			"type": "TitleScreen",
			"title": "Take The Pledge",
			"summary": "A manifesto for the Climate Reality Project.",

			// services
			"services": [
				"Art Direction",
				"Design",
				"Story Boards",
				"Illustration",
				"Cel Animation",
				"3D Animation"
			],
			
			"overview": [
				"For the second annual “24 Hours of Climate Reality” event on November 24, 2012, experts and celebrities conducted Dirty Weather Reports from across the globe. During the event viewers were asked to join the global movement and demand action from their governments. We were brought in to create an anthemic and informational video as their call-to-action. The piece uses a combination of smooth motion and textural cel animation to contrast and visualize the battle between good and evil."
			],
			
			"callout": "Watch Video",
			
			"background": {
				"type": "video",
				"id": "climate-reality",
				"src": "<%= asset_path 'desktop/work/climate-reality/climate-reality-ts-poster.jpg' %>"
			}
		},

		// video
		{
			"type": "Video",
			"background_color": "#4f534a",
			"id": "53487338"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/climate-reality/climate-reality-styleframes.jpg' %>",
			"sidebar": {
				"title": "Look and Feel",
				"text": "<p>Our visual approach to this project was finding the right balance between flat, 2d infographics and hand-crafted emotive imagery that evoked feelings of good and evil. The sound bed and voice talent were going to be help establish an anthemic feel, but the way that we represented the users and the fossil fuel lobby had to feel human - that was very important to the overall composition of the piece.</p>"
			}
		},

		// panning
		{
			"type": "PanningSlide",
			"image": "<%= asset_path 'desktop/work/climate-reality/climate-reality-drag.jpg' %>",
			"width": "2500",
			"height": "2500"
		}
	]
}