Legwork.Work["coke-ah"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/coke-ah/coke-ah-thumb.jpg' %>"
		],
		"videos": [
			{
				"path": "coke-ah-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "The Ahh Effect",
	"summary": "A series of mobile experiments for Coca-Cola with Wieden+Kennedy and Mode Set.",
	"thumbnail": "<%= asset_path 'desktop/work/coke-ah/coke-ah-thumb.jpg' %>",
	"related": "gamits",
	"related_name": "Related: This Shell",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "The Ahh Effect",
			"summary": "A series of mobile experiments for Coca-Cola with Wieden+Kennedy and Mode Set.",
			"services": [
				"Strategy",
				"User Experience",
				"Art Direction",
				"Visual Design",
				"Development"
			],
			"overview": [
				"We were one of a select team of companies brought in to create a series of brand experiences for Coke known as the “Ahh” effect. Some are games. Some are quizzes. All of them are irreverent and unexpected, in a good way. The following slides will guide you through some of our favorites. Check back, as we will be adding to the catalog frequently."
			],
			"url": "http://www.ahh.com",
			"background": {
				"type": "video",
				"id": "coke-ah-loop",
				"src": "<%= asset_path 'desktop/work/coke-ah/coke-ah-ts-poster.jpg' %>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/coke-ah/coke-ah-maniac.jpg' %>",
			"sidebar": {
				"title": "Maniac Kernels from Outer Space",
				"text": "<p>Just your typical "evil popcorn trying to take over the world and only you can defend humanity with an ice-cold Coca Cola powered rocket" type video game.<br/><br/> <a href='http://www.ahhhhhhhhhhhhhhhhhh.com' target='_blank'>Launch Project</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/coke-ah/coke-ah-bubbles.jpg' %>",
			"sidebar": {
				"title": "Guide the Bubble",
				"text": "<p>If Coca-Cola had one less bubble, it wouldn't be Coca-Cola. So, don't let your bubble burst. Steer it through ice cubes by tilting your phone back and forth. Music provided by Plastic Sound Supply.<br/><br/> <a href='http://www.ahhhhhhhhh.com' target='_blank'>Launch Project</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/coke-ah/coke-ah-ice-toss.jpg' %>",
			"sidebar": {
				"title": "Ice Toss",
				"text": "<p>Drag and release to catapult ice cubes into the cup. Keep the temperature at 37&deg;F, the scientifically proven perfect temperature to enjoy a Coke. Music provided by Plastic Sound Supply.<br/><br/> <a href='http://www.ahhhhhhhhhh.com' target='_blank'>Launch Project</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/coke-ah/coke-ah-time-machine.jpg' %>",
			"sidebar": {
				"title": "Time Machine",
				"text": "<p>Take an &quot;Ahh&quot; fueled trip through time and space...or maybe just time. Spin your phone around on a flat surface.<br/><br/> <a href='http://www.ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhh.com' target='_blank'>Launch Project</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/coke-ah/coke-ah-doc-p.jpg' %>",
			"sidebar": {
				"title": "Doc P Shushes Things",
				"text": "<p>&quot;Ahh&quot; occasionally requires focus, complete silence and a Coke. Just raise your phone or tap on Doc Pemberton to shush your friends.<br/><br/> <a href='http://ahhhhhhhhhhhhh.com' target='_blank'>Launch Project</a></p>"
			}
		}
	]
}