Legwork.Work["paranorman"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/paranorman/paranorman-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/paranorman/paranorman-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "paranorman-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Paranorman",
	"summary": "A website for Laika with Wieden+Kennedy and Mode Set.",
	"thumbnail": "<%= asset_path 'desktop/work/paranorman/paranorman-thumb.jpg' %>",
	"related": "chrysler-ifd",
	"related_name": "Related: Imported From Detroit",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Paranorman",
			"summary": "A website for Laika with Wieden+Kennedy &amp; Mode Set.",
			"services": [
				"User Experience",
				"Visual Design",
				"Image Retouch/Manipulation",
				"Development",
				"Server Configuration"
			],
			"recognition": [
				"<a href=\"http://winners.webbyawards.com/search?keywords=paranorman\" target=\"_new\">Webby Awards</a>",
				"<a href=\"http://www.adcawards.org/92ndgalawinners/\" target=\"_new\">Art Directors Club</a>",
				"<a href=\"http://www.commarts.com/web-sites/paranorman\" target=\"_new\">CommArts</a>",
				"<a href=\"http://www.thefwa.com/adobe/tcea/paranorman\" target=\"_new\">Adobe Cutting Edge</a>",
				"<a href=\"http://www.thefwa.com/site/paranorman\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.thefwa.com/mobile/paranorman\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"http://www.google.com/think/campaigns/paranorman.html\" target=\"_new\">Google Creative Sandbox</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/paranorman\" target=\"_new\">Awwwards</a>"
			],
			"overview": [
				"Laika, the makers of ParaNorman, know a little something about attention to detail. They put so much energy into making this beautiful world, that the last thing we wanted to do was sell the visual aspect of the movie short. So, we set out to replicate the stunning world that Laika created by using custom content and scoring, creating device-specific experiences, and peppering hidden worlds and behind the scenes content throughout the site."
			],
			"url": "http://paranorman.com",
			"callout": "Details",
			"background": {
				"type": "video",
				"id": "paranorman-loop",
				"src": "<%= asset_path 'desktop/work/paranorman/paranorman-ts-poster.jpg' %>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-prototypes.jpg' %>",
			"sidebar": {
				"title": "Process",
				"text": "<p>Our friends at Wieden+Kennedy came to us with a really solid concept of what they were looking for. The only thing was, it included a lot of ideas we weren't sure would be possible in the browsers we had to support. So, we focused a lot of our time upfront to ensure we were all on the same page and prototyped the more complex interactions to understand their limitations before we started on the visual design. From there we prioritized features, created, revised and kept making things better until we reached our deadline.</p><p><a href='http://test.legworkstudio.com/paranorman/desktop/' target='_new'>View Desktop Prototypes</a><br><a href='http://test.legworkstudio.com/paranorman/mobile/' target='_new'>View Mobile Prototypes</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-styleguide.jpg' %>"
		},
		{
			"type": "PullQuote",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/paranorman/paranorman-craft.jpg' %>"
			},
			"color": "#c2d94f",
			"quote": "To create the visuals for each scene, we took plates from the movie or digital photographs for specific requests and used them to construct custom experiences. Sometimes this was pretty simple, like cutting out a character to separate them from a scene, and other times (via the indispensable help of our friend <a href=\"http://www.krop.com/citrusdesign/\" target=\"_new\">Tom Hamilton</a>) it got pretty intense, like creating a photorealistic shower curtain out of nothing. The following slides show a few examples of our image production."
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-before.jpg' %>"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-after.jpg' %>"
		}
	]
}