Legwork.Work["paranorman"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/work-paranorman.jpg' %>"
		],
		"videos": [
			{
				"path": "paranorman-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},

	// project metadata
	"title": "Paranorman",
	"summary": "A website for Laika with Wieden+Kennedy and Mode Set.",
	"thumbnail": "<%= asset_path 'desktop/work/work-paranorman.jpg' %>", // NOTE: 960x540
	"related": "toyota-owners",
	"upnext": "Up Next: Toyota Owners",

	// slides
	"slides": [
		// title screen
		{
			"type": "TitleScreen",
			"title": "Paranorman",
			"summary": "A website for Laika with Wieden+Kennedy and Mode Set.",

			// services
			"services": [
				"User Experience",
				"Visual Design",
				"Image Retouch/Manipulation",
				"Development",
				"Server Configuration"
			],

			// recognition
			"recognition": [
				"FWA SOTD",
				"FWA MOTD",
				"Adobe Cutting Edge",
				"Google Creative Sandbox",
				"CommArts",
				"Awwwards"
			],

			"overview": [
				"Laika, the makers of ParaNorman, know a little something about attention to detail. They put so much energy into making this beautiful world, that the last thing we wanted to do was sell the visual aspect of the movie short. So, we set out to replicate the stunning world that Laika created with custom content and scoring, creating device specific experiences, and peppering hidden worlds and behind the scenes content throughout the site."
			],

			"url": "http://paranorman.com",
			"callout": "Details",

			"background": {
				"type": "video",
				"id": "paranorman-loop"
			}
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-prototypes.jpg' %>",
			"sidebar": {
				"title": "Process",
				"text": "<p>Our friends at Wieden+Kennedy came to us with a really solid concept of what they were looking for. The only thing was, it included a lot of ideas we weren't sure would be possible in the browsers we had to support. So, we focused a lot of our time upfront to ensure we were all on the same page and prototyped the interactions we weren't sure about to understand their limitations before we started on the visual design. From their we prioritized features, created, revised and create more until we reached our deadline.</p><p><a href='http://test.legworkstudio.com/paranorman/desktop/' target='_new'>View Desktop Prototypes</a></p><p><a href='http://test.legworkstudio.com/paranorman/mobile/' target='_new'>View Mobile Prototypes</a></p>"
			}
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-styleguide.jpg' %>"
		},

		// pull quote
		{
			"type": "PullQuote",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/paranorman/paranorman-craft.jpg' %>"
			},
			"color": "#c2d94f",
			"quote": "To create the visuals for each scene we took plates from the movie or digital photographs for specific requests and constructed custom experiences with them. Sometimes this was pretty simple, like cutting out a character to separate them from a scene, and other times (with the help of our friend Tom Hamilton) it got pretty intense, like creating a photorealistic shower curtain out of nothing.<br><br>The following slides show a few examples of the image production we undertook."
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-before.jpg' %>"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-after.jpg' %>"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-before-2.jpg' %>"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-after-2.jpg' %>"
		},

		// panning
		{
			"type": "PanningSlide",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-cutout.jpg' %>",
			"width": "2500",
			"height": "1830"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/world/world-code.jpg' %>",
			"sidebar": {
				"title": "A Targeted Experience",
				"text": "<p>There was some serious technical powerlifting required to ensure this site was performant. We took full advantage of each targeted devices strong suites without sacrificing any of the content. Check it out on your desktop, tablet and phone to see what we mean. We took advantage of hardware acceleration to scroll through the 3d worlds, the accelerometer to unlock content by spinning your phone around and much, much more.</p>"
			}
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/paranorman/paranorman-organization.jpg' %>",
			"sidebar": {
				"title": "Organization",
				"text": "<p>We take great pride in every detail of our craft, even how we organize our files. In order to make it easy for anyone to jump in and out of the project with little effort, we took great care to ensure even our source files were cleaned up and well constructed. We're big believers in proper <a href='http://photoshopetiquette.com' target='_new'>Photoshop Etiquette</a>. And by sharing all of our files on <a href='http://dropbox.com' target='_new'>Dropbox</a> and <a href='http://github.com' target='_new'>Github</a>, geography never got in the way.</p>"
			}
		}

		// The following are other slide types
		// we can use too...

		// video (this is just a demo slide)
		// {
		// 	"type": "Video",
		// 	"background_color": "#89af60",
		// 	"id": "49792510"
		// },

		// media (w/ vimeo)  (this is just a demo slide)
		// {
		// 	"type": "Media",
		// 	"background_color": "#89af60",
		// 	"title": "Paranorman Walk Through",
		// 	"text": "<p>Ah bra, it's just like, dude you get the best barrels ever dude. It's just like you pull in and just get spit right out of them. And you just drop in and just smack the lip. Whuppah! Jus-drop down, send it baahhahhh! And then after that you just drop in and just ride the barrel and get pitted, so pitted like that.</p>",
		// 	"media": {
		// 		"type": "vimeo",
		// 		"id": "49792510"
		// 	}
		// }

		// slideshow
		// {
		// 	"type": "Slideshow",
		// 	"background_color": "#89af60",
		// 	"title": "Random Slides of Stuff",
		// 	"text": [
		// 		"In an effort to humanize their new start up, Abodigy tasked us with creating a character-driven story to help make a somewhat complicated business model seem approachable and necessary.",
		// 		"Created a comprehensive illustration library (elements, characters, homes)",
		// 		"2D and 3D styles composited for final animation",
		// 		"Custom music and sound design"
		// 	],
		// 	"slides": [
		// 		{
		// 			"type": "vimeo",
		// 			"id": "52264316"
		// 		},
		// 		{
		// 			"type": "image",
		// 			"url": "<%= asset_path 'desktop/work/paranorman/slideshow-fpo.jpg' %>"
		// 		},
		// 		{
		// 			"type": "vimeo",
		// 			"id": "53487338"
		// 		},
		// 		{
		// 			"type": "image",
		// 			"url": "<%= asset_path 'desktop/work-paranorman.jpg' %>"
		// 		}
		// 	]
		// }
	]
}