Legwork.Work["rollit"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/rollit/rollit-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/rollit/rollit-ts-poster.jpg' %>",
			"<%= asset_path 'desktop/work/rollit/rollit-demo.jpg' %>"
		],
		"videos": [
			{
				"path": "rollit-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Roll It",
	"summary": "A Chrome Experiment for Google with Mode Set.",
	"thumbnail": "<%= asset_path 'desktop/work/rollit/rollit-thumb.jpg' %>",
	"related": "chrysler-horb",
	"related_name": "Related: Hands on Ron Burgundy",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Roll It",
			"summary": "A Chrome Experiment for Google with Mode Set.",
			"services": [
				"User Experience",
				"Art Direction",
				"Interface Design",
				"Development",
				"3D Modeling",
				"Animation"
			],
			"recognition": [
				"<a href=\"http://www.thefwa.com/site/roll-it?c=SOTM\" target=\"_new\">FWA SOTM</a>",
				"<a href=\"http://www.thefwa.com/site/roll-it\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.thefwa.com/mobile/roll-it\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"https://twitter.com/search/realtime?q=campaigns%2Frollit&src=savs\" target=\"_new\">Trend on Twitter</a>",
				"<a href=\"http://www.thefwa.com/adobe/tcea/roll-it\" target=\"_new\">Adobe Cutting Edge</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/roll-it\" target=\"_new\">Awwwards</a>"
			],
			"overview": [
				"Roll It is a Chrome Experiment that reimagines a classic boardwalk game using only the browser on your phone and computer. The browser on your phone lets you aim and roll the ball with a flick of your wrist, while the browser on your computer renders the real time graphics of the Roll It alley with WebGL and Canvas. The two devices communicate via WebSockets. No apps. No downloads. No tokens. All you need is a modern browser."
			],
			"callout": "Learn More",
			"url": "http://g.co/rollit",
			"background": {
				"type": "video",
				"id": "rollit-loop",
				"src": "<%= asset_path 'desktop/work/rollit/rollit-ts-poster.jpg' %>"
			}
		},
		{
			"type": "FullScreenVideo",
			"url": "<%= asset_path 'desktop/work/rollit/rollit-demo.jpg' %>",
			"id": "83090042"
		},
		{
			"type": "PullQuote",
			"background": {
				"type": "color",
				"color": "#fff"
			},
			"color": "#333",
			"quote": "Google came to us asking for cool ways to show off technology that syncs your phone and computer via web sockets. Specifically, they wanted to demonstrate using your phone to perform physical gestures to control a game. We came up with several different ideas ranging from a variant of Guitar Hero to classic boardwalk games. After several iterations, we ultimately settled on a futuristic version of Skeeball. From there, we fine tuned every detail to reach the end product."
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/rollit/1-rock-out.jpg' %>"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/rollit/2-skeeball.jpg' %>"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/rollit/3-identity.jpg' %>"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/rollit/4-color.jpg' %>"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/rollit/5-flat.jpg' %>"
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/rollit/6-final.jpg' %>"
		}
	]
}