Legwork.Work["strangers"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/strangers/strangers-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/strangers/strangers-ts-poster.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},

	// project metadata
	"title": "Strangers Die Everyday",
	"summary": "A website for East West Partners.",
	"thumbnail": "<%= asset_path 'desktop/work/strangers/strangers-thumb.jpg' %>",
	"related": "vision-street-wear",
	"upnext": "Up Next: Vision Street Wear",

	// slides
	"slides": [
		// title screen
		{
			"type": "TitleScreen",
			"title": "Strangers Die Everyday",
			"summary": "A website for East West Partners.",
			
			"overview": [
				"The developers of the Union Station Neighborhood needed a visionary experience that would tell their story on both a tablet in the field and through a regular desktop. Our solution was to merge classic editorial design principles with progressive development techniques to visualize the future of Denver's oldest neighborhood while tipping our hat to its history."
			],
			
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/strangers/strangers-ts-poster.jpg' %>"
			}
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/strangers/strangers-front.jpg' %>",
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/strangers/strangers-inside.jpg' %>",
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/strangers/strangers-grid.jpg' %>",
			"sidebar": {
				"title": "So Pitted",
				"text": "<p>Ah bra, it's just like, dude you get the best barrels ever dude. It's just like you pull in and just get spit right out of them. And you just drop in and just smack the lip. Whuppah! Jus-drop down, send it baahhahhh! And then after that you just drop in and just ride the barrel and get pitted, so pitted like that.</p>"
			}
		}
	]
}