Legwork.Work["toyota-owners"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/toyota-owners/toyota-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/toyota-owners/toyota-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "toyota-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},

	// project metadata
	"title": "Toyota Owners",
	"summary": "A web application for Toyota with Saatchi & Saatchi LA.",
	"thumbnail": "<%= asset_path 'desktop/work/toyota-owners/toyota-thumb.jpg' %>",
	"related": "union-station",
	"related_name": "Related: Union Station Neighborhood",

	// slides
	"slides": [
		// title screen
		{
			"type": "TitleScreen",
			"title": "Toyota Owners",
			"summary": "A web application for Toyota with Saatchi & Saatchi LA.",

			"services": [
				"Strategy",
				"User Experience",
				"Visual Design",
				"Front End Development"
			],

			"recognition": [
				"FWA SOTD",
				"FWA MOTD",
				"Awwwards",
				"Creative Sandbox"
			],
			
			"overview": [
				"We worked hand in glove with Toyota and Saatchi LA to develop a resource platform for vehicle owners. Through a strict agile methodology, we collaboratively created an overall strategy, engaging graphics, and more to guide users through a series of modules that adapt based on the information they receive."
			],
			
			"url": "http://toyota.com/owners",
			"callout": "Details",
			
			"background": {
				"type": "video",
				"id": "toyota-loop",
				"src": "<%= asset_path 'desktop/work/toyota-owners/toyota-ts-poster.jpg' %>"
			}
		},

		// pull quote
		{
			"type": "PullQuote",
			"background": {
				"type": "color",
				"color": "#ae1d16"
			},
			"color": "#ffffff",
			"quote": "To create the visuals for each scene we took plates from the movie or digital photographs for specific requests and constructed custom experiences with them. Sometimes this was pretty simple, like cutting out a character to separate them from a scene, and other times (with the help of our friend Tom Hamilton) it got pretty intense, like creating a photorealistic shower curtain out of nothing.<br><br>The following slides show just a few examples of our thinking on this project along with some early iterations of our recommended design directions."
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-imagine.jpg' %>"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-navigation.jpg' %>",
			"sidebar": {
				"title": "Navigation",
				"text": "<p>We are approaching this site as more of an application than a brochure experience. Aside from the top level Toyota navigation, much of the interface is expandable or collapsible and can be &ldquo;activated&rdquo; or removed by the user based on their preferences.</p><p>Think: Tweetie or Last.fm</p>"
			}
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-smart-content.jpg' %>",
			"sidebar": {
				"title": "Smart Content",
				"text": "<p>Users should be &ldquo;wowed&rdquo; by the intelligence and utility of the content, not overwhelmed and distracted by visual fluff.</p><p>By entering the initial vehicle data at the dealership, and associating it with an owner, the site will be able to constantly query and display data. Additionally, it can display and recommend modules for them based on their model, location, and other personal data.</p><p>The user has the ability to interact with these modules, ignore them, or hide them forever. If they close a module, it will be replaced with another, more tailored suggestion and become smarter over time.</p><p>In the end, even if they only use the site to perform the most general of functions, the site is still able to monitor and track information that they can view on each site visit.</p><p>Think: YouTube recommendations, Netflix or Pandora</p>"
			}
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-owner-accounts.jpg' %>",
			"sidebar": {
				"title": "Owner Accounts",
				"text": "<p>The user will have a low initial barrier to entry and can build at his or her own pace. There are a few different ways that we see the owner activating additional modules to the experience.</p><p>First, by managing their own personal information, the site will unlock more functionality. This could include financial information, family members, additional vehicles, smart phones and dealers just to name a few.</p><p>Additionally, depending on the module at hand, they can choose to activate functionality that will provide enhanced data models to optimize their driving experience.</p><p>Think: Wii Fit, Linkedin or Match.com</p>"
			}
		},

		// panning
		{
			"type": "PanningSlide",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-direction-1.jpg' %>",
			"width": "1316",
			"height": "1266"
		},

		// panning
		{
			"type": "PanningSlide",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-direction-2.jpg' %>",
			"width": "1280",
			"height": "2375"
		},

		// panning
		{
			"type": "PanningSlide",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-direction-2-grid.jpg' %>",
			"width": "1280",
			"height": "2375"
		},

		// panning
		{
			"type": "PanningSlide",
			"image": "<%= asset_path 'desktop/work/toyota-owners/toyota-direction-2-service.jpg' %>",
			"width": "1280",
			"height": "3890"
		}
	]
}