Legwork.World["press"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/world/press/wdm-2013-thumb.jpg' %>",
			"<%= asset_path 'desktop/world/press/wdm-2013-background.jpg' %>",
			"<%= asset_path 'desktop/world/press/wdm-japan-preview-2013.jpg' %>",
			"<%= asset_path 'desktop/world/press/wdm-2013-preview.jpg' %>",
			"<%= asset_path 'desktop/world/press/egotist-preview.jpg' %>",
			"<%= asset_path 'desktop/world/press/airwalk-preview.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},
	"title": "Select Press",
	"summary": "If we show up in the news, sometimes we'll put it here.",
	"thumbnail": "<%= asset_path 'desktop/world/press/wdm-2013-thumb.jpg' %>",
	"related": "what-we-learned-2012",
	"related_name": "Related: What We Learned 2012",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Select Press",
			"summary": "If we show up in the news, sometimes we'll put it here.",
			"overview": [
				"Occasionally, nice folks reach out and invite us to write something or give an interview. We're always glad to do it. This is the spot to find the latest / most relevant press stuff we've done over the last few years. Our last interview was for Japan-based Web Designing Magazine and you can see a preview of the issue <a href=\"http://book.mynavi.jp/wd/en/2013/12.html\" target=\"_new\">online</a>."
			],
			"callout": "View More",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/world/press/wdm-2013-background.jpg' %>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/world/press/wdm-japan-preview-2013.jpg' %>",
			"sidebar": {
				"title": "Web Designing Magazine, Japan",
				"text": "<p>Recently, Japan-based Web Designing Magazine offered us a chance at some international coverage. We can't read the article, but that doesn't mean we aren't totally stoked! You can preview the magazine issue at <a href=\"http://book.mynavi.jp/wd/en/2013/12.html\" target=\"_new\">http://book.mynavi.jp/wd/en/2013/12.html</a></p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/world/press/wdm-2013-preview.jpg' %>",
			"sidebar": {
				"title": "Web Designer Magazine",
				"text": "<p>In 2013, Web Designer Magazine approached us about doing an agency profile for issue #214. As long standing fans of the magazine, needless to say, we were pretty excited. We collected some shots and did an in person interview over the phone. You can also read the article <a href=\"http://goo.gl/FjU7pC/\" target=\"_new\">online</a>.</p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/world/press/egotist-preview.jpg' %>",
			"sidebar": {
				"title": "The Denver Egotist",
				"text": "<p>In the summber of 2013 The Egotist Network reached out about an interview. They are a network of blogs that cover all things advertising, providing region-specific content and a local community resource for several major U.S cities. You can read the iterview at The Denver Egotist <a href=\"http://www.thedenveregotist.com/editorial/2013/august/15/egotist-interviews-legwork-studio\" target=\"_new\">online</a>.</p>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/world/press/airwalk-preview.jpg' %>",
			"sidebar": {
				"title": "JavaScript is Not a Crime",
				"text": "<p>In 2010, directly after our work for Airwalk was one of only a handful of non-Flash sites to win FWA, Rob reached out to us to write an article about it. You can read the article <a href=\"http://www.thefwa.com/article/airwalk-com/\" target=\"_new\">online</a>.</p>"
			}
		}
	]
}