Legwork.World["wdm-2013"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/world/wdm-2013/wdm-2013-thumb.jpg' %>",
			"<%= asset_path 'desktop/world/wdm-2013/wdm-2013-background.jpg' %>",
			"<%= asset_path 'desktop/world/wdm-2013/wdm-2013-preview.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},
	"title": "Web Designer Magazine",
	"summary": "Agency Feature in issue #214, October 2013.",
	"thumbnail": "<%= asset_path 'desktop/world/wdm-2013/wdm-2013-thumb.jpg' %>",
	"related": "what-we-learned-2012",
	"related_name": "Related: What We Learned 2012",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Web Designer Magazine",
			"summary": "Agency Feature in issue #214, October 2013.",
			"overview": [
				"In 2013, Web Designer Magazine approached us about doing an agency profile. As long standing fans of the magazine, needless to say, we were pretty excited. We collected some shots and did an in person interview over the phone. You can read the article online at <a href=\"http://goo.gl/FjU7pC/\" target=\"_new\">http://goo.gl/FjU7pC</a>."
			],
			"callout": "See the Layout",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/world/wdm-2013/wdm-2013-background.jpg' %>"
			}
		},
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/world/wdm-2013/wdm-2013-preview.jpg' %>",
			"sidebar": {
				"title": "Read the Article Online",
				"text": "<p><a href=\"http://goo.gl/FjU7pC/\" target=\"_new\">http://goo.gl/FjU7pC</a></p>"
			}
		}
	]
}